/* 
- DARK GREEN - 1C2A2C
-FOOTER DARK- 24282B
font-family: 'raleway', sans-serif
400 500 800


*/

* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

[class*=col-] {
    padding-bottom: 0;
}

body {
    font-family: 'raleway' , sans-serif;
}

h1,h2,h3,h4,h5,h6 {
    text-transform: uppercase;
    font-weight: 800; 
    margin-bottom: 0.5%;
}

p {
    line-height: 1.4;
    margin-bottom: 0.8rem;
}

/* Nav Bar */

.header-nav {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #24282B;

}

.nav-link {
    border: 2px solid;
    padding: 0.5rem;
    display: inline-block;
    text-decoration: none;
}

.header-nav :hover{
    cursor: pointer;
    color: #a1a5a5;
}

/* Footer  */

footer {
  background-color: #24282B;  
}

/* images */

.bg-image {
    background-color: #1C2A2C;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.bg-dark { background-color: #1C2A2C; }

.bg-sydney { background-image: url('images/map-sydney.png'); }

.bg-lamp { background-image: url('images/the-bunker-1.jpg'); }

.bg-chairs { background-image: url('images/the-bunker-2.jpg'); }

.bg-hall { background-image: url('images/the-bunker-3.jpg'); }

.bg-lounge { background-image: url('images/the-bunker-4.jpg'); }

.bg-roof { background-image: url('images/the-bunker-5.jpg'); }

.bg-roof-flip { background-image: url('images/the-bunker-5-flip.jpg'); }

.bg-map { 
    background-image: url('images/the-bunker-6.png');
    background-position: 86% 50%;
    } 

.bg-sheet {background-image: url('images/the-bunker-7.jpg');}

.img-flip {
        /* flip horizontally */
        transform: scaleX(-1);
    }
    


/* TYPOGRAPHY */

h1 { 
    color: white;
    font-size: 8rem;
    text-align: center;
 }


 .light-text { color: white; }

 h2 { font-size: 3rem; }

 h3 { font-size: 3rem; }

  h4 { font-size: 1rem; }


 .social-banner {
    background-position: top;
    background-position: 50% 21%;
 }

 nav a { text-decoration: none; }

 a { 
    color: inherit;
     margin: 1rem; 
    }

 a :hover{
 color: #1C2A2C;
 }

 .fa-brands {
    font-size: 1.5rem;
    padding-left: 0.5rem ;

 }

 /* footer styles */

footer h2 {
    font-size: 6rem;
}

footer a { font-weight: 800;}

footer a {
    margin: 0%;
}

.copy-right  {
    text-align: center;
    opacity: 75%;
}
 
/* Media Queries */






/* UTILITY CLASSES */


/* TEXT ALIGNMENT */

.left { text-align: left; }
.right { text-align: right; }
.center { text-align: center;}

.tall-40 { min-height: 40vh; }
.tall-50 { min-height: 50vh; }
.tall-60 { min-height: 60vh; }
.tall-70 { min-height: 70vh; }
.tall-80 { min-height: 80vh; }
.tall-90 { min-height: 90vh; }



/*----------------------------- Padding Utility Classes--------------------------- */ 
.padded-sm { padding: 2.5%; }
.padded-md { padding: 5%;   }
.padded-lg { padding: 10%;  }

.padded-05 { padding: 0.5rem; }
.padded-1 { padding: 1rem; }
.padded-2 { padding: 2rem; }

.padded-t { padding-top: 5%; }
.padded-b { padding-bottom: 5%; }
.padded-l { padding-left: 5%; }
.padded-r { padding-right: 5%; }

.padded-tb { padding-top: 5%; padding-bottom: 5%; }
.padded-lr { padding-left: 5%; padding-right: 5%; }

.padded-t-1 { padding-top: 1rem; }
.padded-b-1 { padding-bottom: 1rem; }
.padded-l-1 { padding-left: 1rem; }
.padded-r-1 { padding-right: 1rem; }

.padded-t-2 { padding-top: 2rem; }
.padded-b-2 { padding-bottom: 2rem; }
.padded-l-2 { padding-left: 2rem; }
.padded-r-2 { padding-right: 2rem; }

.padded-t-0 { padding-top: 0; }
.padded-b-0 { padding-bottom: 0; }
.padded-l-0 { padding-left: 0; }
.padded-r-0 { padding-right: 0; }

/* ----------------------------Margin Utility Classes-------------------------- */ 

.margin-t { margin-top: 5%; }
.margin-b { margin-bottom: 5%; }
.margin-l { margin-left: 5%; }
.margin-r { margin-right: 5%; }

.margin-t-1 { margin-top: 1rem; }
.margin-b-1 { margin-bottom: 1rem; }
.margin-l-1 { margin-left: 1rem; }
.margin-r-1 { margin-right: 1rem; }

.margin-t-2 { margin-top: 2rem; }
.margin-b-2 { margin-bottom: 2rem; }
.margin-l-2 { margin-left: 2rem; }
.margin-r-2 { margin-right: 2rem; }

.margin-t-0 { margin-top: 0; }
.margin-b-0 { margin-bottom: 0; }
.margin-l-0 { margin-left: 0; }
.margin-r-0 { margin-right: 0; }

.margin-tb { margin-top: 5%; margin-bottom: 5%; }
.margin-lr { margin-left: 5%; margin-right: 5%; }


/* Medium devices (landscape tablets, 768px) */
@media (max-width: 48em) {

    .hide-sm {display: none;}
    .flex-flip-sm { flex-direction: column-reverse;}
    

    
    }